*.h           -crlf
*.cpp        -crlf
*.h        -crlf
*.xml        -crlf
*.xms        -crlf

*.bat           -crlf
*.bat.in        -crlf
*.dsp           -crlf
*.dsptemplate   -crlf
*.dsw           -crlf
*.sln           -crlf
*.vcproj        -crlf
*.vcxproj        -crlf